.DiscountBanner {
    width: 100%;
    position: relative;
    padding-block: 50px;
    margin-block: 50px 100px;
    background-image: url("../../../../../Assets/images/backgrounds/background20.jpg");

    &,
    &::after {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    & .box-voucher {
        width: 70%;
        margin: auto;
        padding: 10px;
        transform: scale(0.8);
        border: 4px solid var(--main-color);

        & .content-voucher {
            width: 100%;
            height: 100%;
            padding: 20px 50px;
            text-align: center;
            font-family: var(--Roboto);
            background-color: var(--light-color);

            &>div {
                margin-bottom: 30px;
            }

            & .logo {
                gap: 10px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                & img {
                    width: 60px;
                    height: 60px;
                }

                & .logo-title {
                    & span {
                        display: block;
                        text-align: start;

                        &:first-of-type {
                            font-size: 28px;
                            font-weight: 700;
                            color: var(--main-color);
                            font-family: var(--Playball);
                        }

                        &:last-of-type {
                            font-size: 14px;

                            color: var(--dark-color-50);
                            font-family: var(--Roboto);
                        }
                    }
                }
            }

            & .image {
                width: 150px;
                height: auto;
                margin: 0 auto 10px;
                overflow: hidden;
                border-radius: 50%;
            }

            & .discount {
                font-size: 28px;

                & span {
                    font-weight: 700;
                    color: var(--main-color);
                }
            }

            & .voucher {
                & h2 {
                    margin-bottom: 20px;
                    color: var(--main-color);
                    text-transform: uppercase;
                }

                & p {
                    width: 70%;
                    margin: auto;
                    line-height: 1.6;
                }
            }

            & .action {
                & button i {
                    margin-inline-start: 5px;
                }
            }

            & .social {
                gap: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                & i {
                    cursor: pointer;
                    font-size: 24px;
                    -webkit-transition: 0.2s;
                    -o-transition: 0.2s;
                    transition: 0.2s;

                    &:hover {
                        margin-top: -5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .DiscountBanner {
        & .box-voucher {
            transform: scale(0.9);
        }
    }
}

@media (max-width: 768px) {
    .DiscountBanner {
        padding-inline: 15px;

        & .box-voucher {
            width: 100%;
            transform: scale(1);

            & .content-voucher {
                padding-inline: 30px;

                & .voucher {
                    & h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .DiscountBanner {
        & .box-voucher {
            & .content-voucher {
                padding-inline: 20px;

                & .image {
                    width: 100px;
                }

                & .discount {
                    font-size: 20px;
                }

                & .voucher {
                    margin-bottom: 20px;

                    & h2 {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }

                    & p {
                        width: 100%;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}