.RecipeDetails {
    padding-block: 90px 50px;

    & .container {
        position: relative;

        & h2 {
            text-align: start;
            padding-bottom: 30px;
            color: var(--main-color);
        }

        & .row {
            gap: 20px;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: start;

            & .image {
                width: 250px;
                height: 250px;

                &>img {
                    cursor: pointer;
                }

                & .absolute {
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    left: 0;
                    display: grid;
                    z-index: 999;
                    place-content: center;

                    & .layout {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: var(--dark-color);
                        opacity: 0.5;
                        z-index: -1;
                    }

                    & img {
                        width: 50%;
                        height: auto;
                        margin: auto;
                    }
                }
            }

            & .information {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;

                & span {
                    font-size: 14px;
                    font-weight: bold;
                    font-style: italic;
                }

                & .title {
                    margin-block: 10px;
                    color: var(--main-color);
                }

                & .description {
                    font-size: 14px;
                    line-height: 1.6;
                }

                & .cookingTime {
                    font-style: italic;
                    margin-block: 10px;
                }

                & .price_and_rating {
                    gap: 20px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding-block: 20px;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    border-block: 1px solid var(--load);

                    & span {
                        gap: 5px;
                        display: -webkit-inline-box;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        color: var(--main-color);
                    }

                    & i {
                        font-size: 20px;
                    }
                }

                & .total {
                    margin-block: 10px;

                    & span {
                        color: var(--main-color);
                    }
                }

                & .action {
                    gap: 20px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    padding-top: 10px;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    & .btnAddOrder {
                        gap: 5px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                    }
                }
            }
        }

        & .log_in_to_comment {
            width: 400px;
            padding: 10px;
            border-radius: 3px;
            margin-block: 20px 10px;
            color: var(--dark-color);
            background: var(--load);
        }

        & .modelRate {
            & .modelForm {
                width: 400px;
                padding: 10px;
                margin-block: 20px;
                border-radius: 3px;
                background-color: #eaeaea;

                & .comment {
                    margin-bottom: 15px;

                    & textarea {
                        width: 100%;
                        height: 90px;
                        resize: none;
                        border: none;
                        padding: 5px;
                        outline: none;
                        border-radius: 3px;
                        text-transform: none;
                        border: 1px solid var(--load);
                    }
                }

                & .rating {
                    margin-bottom: 15px;

                    & .rate {
                        gap: 20px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        font-size: 24px;
                        margin-bottom: 10px;
                        color: var(--main-color);

                        & i {
                            cursor: pointer;
                        }
                    }
                }

                & .send,
                & .cancel {
                    width: 90px;
                    height: 35px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    border-radius: 3px;
                    letter-spacing: 1px;
                    color: var(--light-color);
                    background-color: var(--toxic-color-50);

                    &:hover {
                        background-color: var(--toxic-color);
                    }

                    &.disabled {
                        opacity: 0.7;
                        pointer-events: none;
                    }
                }

                & .cancel {
                    margin-inline-start: 10px;
                    background-color: var(--red-color);

                    &:hover {
                        background-color: var(--red-color-50);
                    }
                }
            }
        }

        & .comments {
            margin-bottom: 20px;

            & h2 {
                padding-bottom: 10px;
            }

            & .comment {
                gap: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding-bottom: 20px;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: start;
                position: relative;

                &:not(:last-child) {
                    &::after {
                        content: "";
                        width: calc(100% - 90px);
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        opacity: 0.1;
                        border-bottom: 2px solid var(--dark-color);
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                & .image {
                    width: 90px;
                    height: 90px;
                    overflow: hidden;
                    border-radius: 3px;
                }

                & .content {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                    & .head {
                        gap: 10px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin-bottom: 5px;
                        text-wrap: nowrap;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;

                        & .client {
                            gap: 10px;
                            width: 100%;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;

                            &>div:first-of-type {
                                gap: 10px;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                justify-content: space-between;

                                & .profile {
                                    gap: 10px;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;

                                    & .edit {
                                        gap: 10px;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        position: relative;

                                        &>i {
                                            font-size: 22px;
                                            cursor: pointer;
                                            color: var(--main-color);
                                        }

                                        & .list {
                                            padding: 5px;
                                            list-style: none;
                                            gap: 5px;
                                            display: -webkit-box;
                                            display: -ms-flexbox;
                                            display: flex;
                                            flex-direction: column;
                                            position: absolute;
                                            top: 20px;
                                            opacity: 0;
                                            visibility: hidden;
                                            border-radius: 3px;
                                            left: calc(100% + 10px);
                                            color: var(--dark-color);
                                            backdrop-filter: blur(3px);
                                            box-shadow: 0 0 1px var(--dark-color);

                                            &.show {
                                                top: 10px;
                                                opacity: 1;
                                                visibility: visible;
                                            }

                                            & li:first-of-type span {
                                                background-color: var(--green-color);
                                            }

                                            & li:nth-of-type(2) span {
                                                background-color: var(--red-color);
                                            }

                                            & li span {
                                                gap: 5px;
                                                opacity: 0.7;
                                                padding: 10px;
                                                display: flex;
                                                border-radius: 3px;
                                                text-align: center;
                                                font-family: var(--Roboto);

                                                &:hover {
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        & .rate {
                            font-weight: bold;
                            color: var(--main-color);

                            & i {
                                font-size: 20px;
                                -webkit-margin-end: 5px;
                                margin-inline-end: 5px;
                            }
                        }
                    }

                    & .date {
                        display: block;
                        font-size: 8px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    & .review {
                        font-size: 12px;
                        text-transform: none;
                    }
                }
            }
        }
    }
}

.RandomRecipes {
    position: relative;

    & .head {
        gap: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-block: 20px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &>h2 {
            padding: 0;
        }

        &>a {
            padding: 10px;
            font-size: 14px;
            font-family: var(--Roboto);
            border-radius: 3px;
            display: inline-block;
            color: var(--light-color);
            background: var(--main-color-50);

            &:hover {
                background-color: var(--main-color);
            }
        }
    }

    & .random-recipe {
        & .sky-loading {
            gap: 20px;
            display: -ms-grid;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

            & .card {
                -webkit-animation: loading 0.7s infinite;
                animation: loading 0.7s infinite;

                & .img {
                    width: 100%;
                    height: 250px;
                    background: var(--load);
                }

                & .text {
                    width: 100%;
                    height: 30px;
                    margin-block: 10px;
                    background: var(--load);
                }

                & .btns {
                    gap: 20px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;

                    & div {
                        width: 100%;
                        height: 30px;
                        background: var(--load);
                    }
                }
            }
        }

        & .recipes {
            gap: 20px;
            display: -ms-grid;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
    }
}

@media (max-width: 992px) {
    .RecipeDetails {
        & .container {
            & .row {
                & .image {
                    width: 170px;
                    height: 170px;

                    & .absolute .absoluteImage {
                        width: 70%;
                    }
                }

                & .information {
                    & .description {
                        font-size: 12px;
                    }

                    & .price_and_rating {
                        font-size: 12px;
                        padding-block: 10px;

                        & i {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .RecipeDetails {
        & .container {

            & .row {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                & .image {
                    width: 50%;
                    height: auto;
                    margin: auto;
                }

                & .information {
                    flex: auto;
                    width: 100%;
                }
            }

            & .comments {
                & .comment {
                    gap: 10px;

                    & .image {
                        width: 70px;
                        height: 70px;
                    }

                    & .content {
                        & .head {
                            font-size: 14px;
                        }

                        & .review {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .RecipeDetails {
        & .container {
            & h2 {
                font-size: 18px;
            }

            & .row {
                & .image {
                    width: 100%;

                    & .absolute .absoluteImage {
                        width: 90%;
                    }
                }

                & .information {
                    & .action {
                        & .btnAddOrder {
                            padding: 10px;
                            font-size: 10px;
                        }
                    }
                }
            }

            & .log_in_to_comment {
                width: 100%;
            }

            & .modelRate {
                & .modelForm {
                    width: 100%;

                    & .rate {
                        gap: 10px;

                        & i {
                            font-size: 20px;
                        }
                    }
                }
            }

            & .comments {
                & .comment {
                    gap: 10px;

                    & .image {
                        width: 50px;
                        height: 50px;
                    }

                    & .content {
                        & .head {
                            font-size: 12px;
                        }

                        & .review {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}