.AppReservation {
    width: 100%;
    height: 100%;
    position: relative;
    padding-block: 50px 150px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        opacity: 0.3;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &::before {
        width: 300px;
        height: 150px;
        right: 0;
        background-image: url("../../../../../Assets/images/backgrounds/background19.png");
    }

    &::after {
        width: 250px;
        height: 210px;
        left: -100px;
        z-index: -1;
        background-image: url("../../../../../Assets/images/other/index1/spearmint.png");
    }

    & .container {
        gap: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        & .reservation-img {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            max-width: 400px;

            & .box-img {
                padding: 10px;
                -webkit-box-shadow: 0 0 0 3px var(--main-color);
                box-shadow: 0 0 0 3px var(--main-color);
            }
        }

        & .reservation-form {
            width: 50%;
            max-width: 500px;

            & .summery {
                margin-bottom: 30px;

                &>p {
                    font-size: 24px;
                    color: var(--dark-color-50);
                    font-family: var(--Playball);

                    &>span {
                        color: var(--main-color);
                    }
                }
            }

            & .form {
                & .message {
                    padding: 5px;
                    border-radius: 3px;
                    margin-bottom: 10px;
                    color: var(--light-color);
                    background-color: var(--red-color);
                }

                & form {
                    backdrop-filter: blur(5px);

                    & .groups {
                        gap: 10px;
                        display: grid;
                        display: -ms-grid;
                        margin-bottom: 20px;
                        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                        font-family: var(--Roboto);

                        & .group {
                            width: 100%;
                            height: 40px;
                            position: relative;
                            z-index: 3;

                            &::after {
                                content: "";
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                opacity: 0.7;
                                z-index: 7;
                                border-bottom: 2px solid var(--main-color);
                            }

                            & input,
                            & select {
                                width: 100%;
                                height: 100%;
                                border: none;
                                outline: none;
                                background-color: transparent;
                            }

                            & button {
                                width: 100%;
                            }
                        }
                    }

                    & .last-group {
                        text-align: center;
                    }
                }
            }
        }
    }
}


@media (max-width: 992px) {
    .AppReservation {
        & .container {
            & .reservation-form {
                & .form {
                    & form {
                        & .group {

                            & input,
                            & select {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .AppReservation {
        &::before {
            width: 250px;
            height: 130px;
        }

        &::after {
            width: 150px;
            height: 120px;
            left: -60px;
        }

        & .container {
            text-align: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            & .reservation-form {
                width: 100%;

                & .summery {
                    &>p {
                        font-size: 18px;
                    }
                }

                & .form {
                    & form {
                        & .group {

                            & input,
                            & select {
                                padding: 3px;
                                -webkit-backdrop-filter: blur(5px);
                                backdrop-filter: blur(5px);
                                border: 1px solid var(--main-color);

                                &::-webkit-input-placeholder {
                                    color: var(--dark-color);
                                }

                                &::-moz-placeholder {
                                    color: var(--dark-color);
                                }

                                &:-ms-input-placeholder {
                                    color: var(--dark-color);
                                }

                                &::-ms-input-placeholder {
                                    color: var(--dark-color);
                                }

                                &::placeholder {
                                    color: var(--dark-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .AppReservation {
        padding-block: 50px 90px;
        margin-bottom: 50px;

        &::before {
            width: 150px;
            height: 70px;
        }

        &::after {
            width: 100px;
            height: 80px;
            left: -30px;
        }

        & .container {
            & .reservation-form {
                & .summery {
                    &>p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}