.CheckOut {
    padding-block: 100px 50px;

    & .title {
        text-align: center;
        margin-block: 20px 40px;
    }

    & .orders {
        width: 100%;
        text-wrap: nowrap;
        position: relative;
        text-align: center;
        border-collapse: collapse;

        &.empty::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(255, 0, 0, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            -webkit-animation: emptyTableOrder 0.5s forwards;
            animation: emptyTableOrder 0.5s forwards;
        }

        & tr,
        & th,
        & td {
            border: 2px solid var(--load);
        }

        & td {
            & span {
                color: var(--main-color);
            }
        }

        & .orders-head {
            height: 50px;

            & tr {
                & th:not(:first-child) {
                    width: 120px;
                }

                & th:first-child {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                }
            }
        }

        & .orders-body {
            & tr {
                position: relative;

                & td:first-child {
                    gap: 10px;
                    padding: 10px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    border: none;
                    text-align: start;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    & img {
                        width: 70px;
                        height: 70px;
                    }

                    & p {
                        cursor: pointer;
                        color: var(--toxic-color);
                    }
                }

                & td.quantity {
                    position: relative;

                    & span {
                        width: 25px;
                        height: 25px;
                        display: -ms-grid;
                        display: grid;
                        cursor: pointer;
                        font-size: 24px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        place-content: center;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        color: var(--light-color);
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        background-color: var(--toxic-color-50);

                        & b {
                            -webkit-transform: translateY(-3px);
                            -ms-transform: translateY(-3px);
                            transform: translateY(-3px);
                        }

                        &:hover {
                            background-color: var(--toxic-color);
                        }

                        &.disable {
                            opacity: 0.5;
                            pointer-events: none;
                        }

                        &:first-of-type {
                            left: 10px;
                        }

                        &:last-of-type {
                            right: 10px;
                        }
                    }
                }

                & .price,
                & .vat,
                & .total {
                    color: var(--main-color);
                }

                & .action .delete {
                    padding: 10px 15px;
                    background: var(--red-color-50);

                    &:hover {
                        background-color: var(--red-color);
                    }
                }
            }
        }

        & .orders-foot {
            height: 50px;

            & .total {
                font-weight: bold;
                color: var(--toxic-color);
            }
        }
    }

    & .waitEndOrder {
        text-align: center;
        margin-block: 20px;
        color: var(--toxic-color);

        & i {
            font-size: 66px;
            -webkit-animation: waitOrder 1.4s infinite linear;
            animation: waitOrder 1.4s infinite linear;
        }

        & span {
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            display: inline-block;
        }

        &.show {
            display: block;
        }
    }

    & .discount {
        width: 70%;
        margin: auto;
        margin-top: 30px;

        & form {
            gap: 20px;
            width: 100%;
            height: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: 10px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            & input {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                height: 100%;
                border: none;
                outline: none;
                padding-left: 5px;
                text-transform: none;
                -webkit-box-shadow: 0 0 1px var(--dark-color-50);
                box-shadow: 0 0 1px var(--dark-color-50);
            }

            & button {
                height: 100%;
            }
        }

        & .coupons {
            gap: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: 10px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 45px;

            & span {
                gap: 10px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                pointer-events: none;

                & small {
                    padding: 3px 7px;
                    font-size: 16px;
                    border-radius: 3px;
                    text-transform: none;
                    color: var(--light-color);

                    &:first-of-type {
                        background-color: #d10000;
                    }

                    &:nth-of-type(2) {
                        background-color: #f0018c;
                    }

                    &:last-of-type {
                        background-color: #02dd02;
                    }
                }
            }
        }

        & .note-discount {
            gap: 20px;
            font-weight: bold;

            & span {
                -webkit-margin-end: 30px;
                margin-inline-end: 30px;
            }

            & b {
                color: var(--main-color);
            }
        }
    }

    & .payment {
        width: 70%;
        margin: auto;
        font-family: Arial;

        & h2 {
            margin-bottom: 20px;
            color: var(--dark-color-50);
        }

        & .custom_alert {
            display: none;
            padding: 10px;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 3px;
            color: var(--light-color);

            &.show {
                display: block;
            }
        }

        & .address {
            & form {
                & input {
                    width: 100%;
                    height: 40px;
                    border: none;
                    outline: none;
                    padding-left: 5px;
                    margin-bottom: 20px;
                    -webkit-box-shadow: 0 0 1px var(--dark-color-50);
                    box-shadow: 0 0 1px var(--dark-color-50);
                }

                & button {
                    width: 100%;
                    height: 40px;
                    font-family: Arial;
                }
            }
        }

        & .confirm-order {
            margin-top: 50px;

            & h2 {
                padding: 10px 30px;
                position: relative;
                margin: 0;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    -webkit-box-shadow: 0 0 1px var(--dark-color-50);
                    box-shadow: 0 0 1px var(--dark-color-50);
                }
            }

            & .order {
                margin-bottom: 20px;
                -webkit-box-shadow: 0 0 1px var(--dark-color-50);
                box-shadow: 0 0 1px var(--dark-color-50);

                & select {
                    width: calc(100% - 20px);
                    margin: 0 0 10px 10px;
                    height: 35px;
                    border: none;
                    outline: none;
                    -webkit-box-shadow: 0 0 1px var(--dark-color-50);
                    box-shadow: 0 0 1px var(--dark-color-50);
                }

                & .row {
                    display: -ms-grid;
                    display: grid;
                    padding: 10px 30px;
                    white-space: nowrap;
                    position: relative;
                    grid-template-columns: repeat(2, 1fr);

                    &:nth-child(2)::after {
                        content: "";
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        opacity: 0.3;
                        border-bottom: 1px solid var(--dark-color-50);
                    }

                    & .col {
                        &.shipping {
                            font-size: 12px;
                        }

                        & span {
                            color: var(--main-color);
                        }

                        &.total {
                            font-weight: bold;

                            & span {
                                color: var(--toxic-color);
                            }

                            &.pay-without-discount {
                                color: var(--red-color);
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }

            & .confirm {
                gap: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;

                & button,
                & a {
                    width: 100%;
                    height: 40px;
                    font-size: 12px;
                    position: relative;
                    font-family: Arial;
                    text-align: center;
                    -ms-flex-line-pack: center;
                    align-content: center;
                }

                & .load {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: -ms-grid;
                    display: grid;
                    place-content: center;

                    & span {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border-width: 3px;
                        border-style: solid;
                        border-color: var(--light-color);
                        border-right-color: transparent;
                        -webkit-animation: loader 0.5s linear infinite;
                        animation: loader 0.5s linear infinite;
                    }
                }
            }
        }
    }

    & .payment-popup {
        width: 100%;
        height: 100svh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;

        &::before {
            content: "";
            width: 100%;
            height: 100svh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 998;
            background: #00000033;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
        }

        & .inner {
            width: 500px;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 999;
            padding: 20px;
            background: #fff;
            -webkit-transition: -webkit-transform 0.2s;
            transition: -webkit-transform 0.2s;
            -o-transition: transform 0.2s;
            transition: transform 0.2s;
            transition: transform 0.2s, -webkit-transform 0.2s;

            gap: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-radius: 7px;
            text-align: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-transform: scale(0.7) translate(-65%, -65%);
            -ms-transform: scale(0.7) translate(-65%, -65%);
            transform: scale(0.7) translate(-65%, -65%);

            & .fa-check {
                width: 70px;
                height: 70px;
                font-size: 50px;
                color: #00c400;
                line-height: 70px;
                background: #00c40035;
                border-radius: 50%;
                border: 2px solid #00c400;
            }

            & p {
                font-size: 14px;
                line-height: 1.6;
            }

            & button {
                width: 120px;
                height: 40px;
                display: -ms-grid;
                display: grid;
                border: none;
                outline: none;
                color: #fff;
                cursor: pointer;
                font-weight: bold;
                border-radius: 3px;
                place-content: center;
                text-transform: uppercase;
                background: var(--toxic-color);
            }
        }

        &.show {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            & .inner {
                -webkit-animation: popup 0.2s normal forwards;
                animation: popup 0.2s normal forwards;
            }
        }

        & .fa-xmark {
            position: absolute;
            top: 15px;
            right: 20px;
            cursor: pointer;
            font-size: 30px;
            color: var(--red-color-50);

            &:hover {
                color: var(--red-color);
            }
        }
    }
}

@-webkit-keyframes emptyTableOrder {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.5;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0.5;
    }
}

@keyframes emptyTableOrder {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.5;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0.5;
    }
}

@-webkit-keyframes popup {
    0% {
        -webkit-transform: scale(0.7) translate(-65%, -65%);
        transform: scale(0.7) translate(-65%, -65%);
    }

    100% {
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes popup {
    0% {
        -webkit-transform: scale(0.7) translate(-65%, -65%);
        transform: scale(0.7) translate(-65%, -65%);
    }

    100% {
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
    }
}

@-webkit-keyframes waitOrder {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

@keyframes waitOrder {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

@media (max-width: 992px) {
    .CheckOut {
        & .orders {
            font-size: 14px;

            & .orders-body {
                & tr {
                    & td.quantity {
                        & span {
                            width: 17px;
                            height: 17px;
                            font-size: 16px;

                            & b {
                                -webkit-transform: translateY(-2px);
                                -ms-transform: translateY(-2px);
                                transform: translateY(-2px);
                            }
                        }
                    }

                    & .action .delete {
                        font-size: 12px;
                        padding: 7px 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .CheckOut {
        & .orders {
            font-size: 10px;

            & .orders-body {
                & tr {
                    & td:first-child {
                        padding: 5px;

                        & img {
                            width: 50px;
                            height: 50px;
                        }
                    }

                    & td.quantity {
                        & span {
                            width: 15px;
                            height: 15px;
                            font-size: 14px;

                            & b {
                                -webkit-transform: translateY(-1px);
                                -ms-transform: translateY(-1px);
                                transform: translateY(-1px);
                            }
                        }
                    }
                }
            }
        }

        & .discount,
        & .payment {
            width: 100%;
        }
    }
}


@media (max-width: 500px) {
    .CheckOut {
        & .orders {
            font-size: 8px;
            text-wrap: wrap;

            & tr,
            & th,
            & td {
                border: 1px solid var(--load);
            }

            & .orders-head,
            & .orders-foot {
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;

                & th {
                    padding-block: 10px;
                }

                & td {
                    padding-block: 5px;
                }
            }

            & .orders-body {
                & tr {
                    & td:first-child {
                        & img {
                            width: 35px;
                            height: 35px;
                        }
                    }

                    & td.quantity {
                        & span {
                            width: 12px;
                            height: 12px;
                            font-size: 12px;

                            &:first-of-type {
                                left: 5px;
                            }

                            &:last-of-type {
                                right: 5px;
                            }

                            & b {
                                -webkit-transform: translateY(-1px);
                                -ms-transform: translateY(-1px);
                                transform: translateY(-1px);
                            }
                        }
                    }

                    & .action .delete {
                        font-size: 8px;
                        padding: 7px 10px;
                    }
                }
            }
        }

        & .discount {
            & .coupons {
                & span {
                    & small {
                        padding: 3px 7px;
                        font-size: 12px;

                    }
                }
            }
        }
    }
}