.MainReservation {
    margin-block: 50px 70px;

    & .container {
        & .action {
            position: relative;
            margin-bottom: 30px;

            &::before {
                content: '';
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                opacity: 0.7;
                z-index: -1;
                transform: translateY(-50%);
                border-bottom: 5px dotted var(--main-color);
            }
        }

        & .reservation {
            gap: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;

            & .reservation-info {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                position: relative;
                z-index: 10;

                & .title {
                    font-family: var(--Roboto);

                    & h2 {
                        margin-bottom: 20px;
                        font-family: var(--Playball);

                        & span {
                            color: var(--main-color);
                        }

                        & img {
                            width: 120px;
                            margin: 0 20px -10px;
                            -webkit-filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.4));
                            filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.4));
                        }
                    }

                    & .description {
                        font-size: 14px;
                    }
                }

                & .cards {
                    gap: 80px 20px;
                    margin-top: 30px;
                    display: -ms-grid;
                    display: grid;
                    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
                    -ms-grid-columns: 1fr 10px 1fr;
                    grid-template-columns: repeat(2, 1fr);

                    & .card {
                        gap: 10px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: start;
                        -ms-flex-align: start;
                        align-items: start;
                        -webkit-box-pack: start;
                        -ms-flex-pack: start;
                        justify-content: flex-start;

                        & .card-img {
                            width: 70px;
                        }

                        & .card-info {
                            font-family: var(--Roboto);

                            & small {
                                display: block;
                                position: relative;
                                padding-bottom: 5px;
                                margin-bottom: 10px;

                                &::after {
                                    content: "";
                                    width: 25%;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    border-bottom: 2px solid var(--main-color);
                                }
                            }

                            & p {
                                font-size: 12px;
                                line-height: 1.3;
                            }
                        }
                    }
                }
            }

            & .reservation-form {
                width: 340px;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                border-radius: 7px;
                background: #ffffff33;
                -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
                -webkit-box-shadow: 0 0 1px var(--dark-color);
                box-shadow: 0 0 1px var(--dark-color);

                & .message {
                    padding: 5px;
                    margin: 10px 10px 0 10px;
                    border-radius: 3px;
                    color: var(--light-color);
                    background-color: var(--red-color);
                }

                & .title {
                    padding: 20px;
                    text-align: center;
                    white-space: nowrap;
                    color: var(--light-color);
                    font-family: var(--Roboto);
                    background-color: var(--main-color);

                    & span {
                        display: block;
                        margin-bottom: 5px;
                        text-transform: uppercase;

                        & b {
                            font-size: 18px;
                            color: var(--toxic-color);
                        }
                    }

                    & p {
                        font-size: 12px;
                    }
                }

                & form {
                    padding: 20px;

                    & .group {
                        width: 100%;
                        height: 30px;
                        margin-bottom: 15px;

                        & input,
                        & select,
                        & textarea {
                            width: 100%;
                            height: 100%;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid var(--dark-color-50);
                        }

                        & .time-date {
                            gap: 10px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                        }
                    }

                    & .group.textarea {
                        height: 70px;
                    }

                    & button {
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    .MainReservation {
        & .reservation {
            & .reservation-info {
                & .title {
                    & h2 {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .MainReservation {
        & .container {
            & .reservation {
                gap: 50px;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                & .reservation-form {
                    width: 70%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .MainReservation {
        & .container {
            & .reservation {
                & .reservation-form {
                    width: 100%;
                }

                & .reservation-info {
                    & .cards {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }
        }
    }
}