.TabsRecipes {
    position: relative;
    padding-block: 50px;

    &::before {
        /* content: ""; */
        width: 200px;
        height: 170px;
        position: absolute;
        bottom: -130px;
        left: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-filter: drop-shadow(3px 10px 5px rgb(0 0 0 / 0.4));
        filter: drop-shadow(3px 10px 5px rgb(0 0 0 / 0.4));
        background-image: url("../../../../../Assets/images/other/index2/mango.png");
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.1;
        z-index: -2;
        background-color: var(--dark-color-50);
    }

    & .title {
        width: 70%;
        margin: auto;
        text-align: center;

        & h2 {
            font-size: 32px;
            margin-bottom: 10px;
            font-family: var(--Playball);

            & span {
                color: var(--main-color);
            }
        }

        & .description {
            font-family: var(--Roboto);
        }
    }

    & .tabs {
        gap: 45px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 30px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        & .tab {
            cursor: pointer;
            -webkit-transition: 0.1s;
            -o-transition: 0.1s;
            transition: 0.1s;
            text-wrap: nowrap;
            position: relative;
            padding-bottom: 5px;
            color: var(--blue-color);
            text-transform: uppercase;
            font-family: var(--Roboto);

            &::after {
                content: "";
                width: 0;
                position: absolute;
                bottom: 0;
                left: 50%;
                opacity: 0;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                border-bottom: 2px solid var(--main-color);
            }

            &.active {
                pointer-events: none;
            }

            &:hover,
            &.active {
                color: var(--main-color);
            }

            &:hover::after,
            &.active::after {
                opacity: 1;
                width: 100%;
            }

            & img {
                width: 25px;
                -webkit-margin-end: 5px;
                margin-inline-end: 5px;
            }

            & img,
            & span {
                pointer-events: none;
            }
        }

        & a {
            padding: 5px;
            font-size: 14px;
            font-family: Arial;
            border-radius: 3px;
            color: var(--main-color);
            background: var(--light-color);
            border: 2px solid var(--main-color);

            &:hover {
                color: var(--light-color);
                background: var(--main-color);
            }
        }
    }

    & .random-recipe {
        & .sky-loading {
            gap: 20px;
            display: -ms-grid;
            display: grid;
            margin-top: 30px;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

            & .card {
                gap: 10px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: start;
                -webkit-animation: loading 0.7s infinite;
                animation: loading 0.7s infinite;

                & .image {
                    width: 100px;
                    height: 100px;
                    background: var(--load);
                }

                & .info {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                    &>div {
                        height: 30px;
                        margin-bottom: 10px;
                        background: var(--load);

                        &:nth-child(2) {
                            width: 70%;
                            height: 20px;
                        }
                    }
                }
            }
        }

        & .cards {
            gap: 20px;
            display: -ms-grid;
            display: grid;
            margin-top: 30px;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

            & .card {
                gap: 10px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding: 10px;
                overflow: hidden;
                position: relative;
                text-decoration: none;
                font-family: var(--Roboto);
                background-color: var(--light-color);
                -webkit-box-shadow: 0 0 1px 0 var(--dark-color);
                box-shadow: 0 0 1px 0 var(--dark-color);

                & .card-image {
                    width: 90px;
                    height: 90px;
                }

                & .card-info {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    color: var(--dark-color);

                    & h5 {
                        position: relative;
                        padding-bottom: 5px;
                        margin-bottom: 10px;

                        &::after {
                            content: "";
                            width: 50px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            border-bottom: 2px solid var(--main-color);
                        }
                    }

                    & p {
                        font-size: 12px;
                    }

                    & span {
                        color: var(--main-color);
                    }
                }

                & .rating {
                    & i {
                        color: var(--main-color);
                    }
                }

                & .actions {
                    gap: 10px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    position: absolute;
                    bottom: 10px;
                    right: 10px;

                    & .btn {
                        padding: 5px 10px;

                        &.details {
                            padding: 4px 10px;
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .TabsRecipes {
        & .tabs {
            gap: 15px;
            font-size: 14px;

            & .tab {
                font-size: 12px;

                & img {
                    width: 20px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .TabsRecipes {
        & .tabs {
            gap: 15px;
            font-size: 10px;

            & a {
                font-size: 8px;
                border-width: 1px;
            }

            & .tab {
                font-size: 8px;

                & img {
                    width: 15px;
                }
            }

            & .tab::after {
                border-width: 1px;
            }
        }
    }
}