.GoTop {
    position: relative;

    & button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 18px;
        z-index: 999;
        border-radius: 50%;
        color: var(--light-color);
        background-color: var(--dark-color);
    }
}