:root {
    /* site colors */
    --main-color: #4b545c;
    --main-color-50: #6a7884;
    --main-color-70: #6a788498;
    --primary-color: #007bff;

    --light-color: #fff;
    --light-color-50: #eee;

    --dark-color: #000000;
    --dark-color-50: #333333;

    --red-color-50: #dd2f6e;
    --red-color: #bb0f4e;
    --yellow-color: #eab000;
    --orange-color: #ff9900;
    --lost-color: #efa4ac;
    --safe-color: #6cf06c;
    --total-color: #6a7884;

    --pending-color: #0652dd;
    --cancelled-color: #ea2027;
    --completed-color: #1fd41f;
    --confirmed-color: #0652dd;
    --refunded-color: #eab000;
    --processing-color: #eab000;
    --delivered-color: #ff871f;

    --available-color: #1fd41f;
    --reserved-color: #ea2027;
    --star-color: #eab000;
    --visit-color: #0652dd;

    --success-color: #1fd41f;
    --wrong-color: #ea2027;

    --print-color: #0652dd;
    --pdf-color: #f33838;
    --xlsx-color: #05ab05;
    --doc-color: #0284cd;
    --ppt-color: #ff5c00;
    --manual-color: #6a7884;

    --new-color: #eab000;
    --active-color: #1fd41f;
    --inactive-color: #6a7884;
    /* --special-color: #6f1e51; */
    --special-color: #d35bfe;
    /* --special-color: #18dcff; */
    --premium-color: #0652dd;
    --suspended-color: #ea2027;

    --today-color: #1fd41f;
    --lastWeek-color: #0652dd;
    --lastMonth-color: #eab000;
    --lastYear-color: #f06e03;
    --remember-color: #333333;
    --trashed-color: #ea2027;

    --vegetable-color: #258725;
    --fruits-color: #1fea05;
    --meat-color: #eab000;
    --fish-color: #ea2027;
    --milks-color: #32d3ff;
    --cereals-color: #112cfa;
    --pastries-color: #fa35e3;
    --raw_materials-color: #717171;
    --bread-color: #eab000;

    --tea-color: #570c08;
    --coffee-color: #e96e16;
    --milk-color: #32d3ff;
    --power_drinks-color: #a314fc;
    --sweet_drinks-color: #f842cd;
    --soft_drinks-color: #fa3535;

    --progress1-color: #eab000;
    --progress2-color: #733ed6;
    --progress3-color: #dd2f6e;
    --progress4-color: #20f720;

    --trash-color: #ea2027;
    --edit-color: #009432;
    --forceDelete-color: #000000;

    --reminder-color: #eab000;
    --favorite-color: #dd2f6e;
    --delete-color: #000000;
    --restore-color: #007bff;
    --create-color: #007bff;

    --btn-public-color: #20f720;
    --btn-delete-color: #dc3545;

    /* fonts */
    --Playball: "Playball", cursive;
    --Roboto: "Roboto Condensed", Arial;

    /* social colors */
    --facebook-color: #3f67d4;
    --twitter-color: #6f96ff;
    --linkedin-color: #6179b9;
    --google-color: #ff0000;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: var(--Playball);
}

/*! modifying font style */
* :not(i) {
    font-family: "Roboto Condensed", Arial !important;
}

& * img {
    width: 100%;
    height: 100%;
    user-select: none;
}

ul {
    list-style: none;
}

& .btnActive {
    user-select: none;
}

& .btnActive:hover {
    cursor: pointer;
}

& .btnActive:active {
    transform: translateY(1px) scale(0.96);
}

& .facebook {
    cursor: pointer;
    color: var(--facebook-color);
}

& .twitter {
    cursor: pointer;
    color: var(--twitter-color);
}

& .linkedin {
    cursor: pointer;
    color: var(--linkedin-color);
}

& .google {
    cursor: pointer;
    color: var(--google-color);
}

& * i.fa-circle-check {
    color: var(--success-color);
}

& * i.fa-circle-xmark {
    color: var(--cancelled-color);
}

& * a:not(.sidebar a, .navbar a, .sidebarControl a) {
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

& * a:not(:visited) {
    color: blue;
}

& .visit a:visited {
    color: var(--dark-color);
}

& .status {
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    color: var(--light-color);
}

& * .email {
    text-transform: lowercase !important;
}

& .center {
    text-align: center;
}

@media print {
    & .app {
        width: 100% !important;
    }

    & .app .content .datatable {
        border: 0;
    }

    & .app .content .datatable .control #export {
        padding: 0px;
    }

    & .app .content .invoice {
        width: 100%;
    }

    & * .not-print {
        display: none !important;
    }
}